# HACK: "Aliases" MAKE YOUR LIFE EASY

# INFO: YAY (arch)
# alias i="yay -S"
# alias s="yay -Ss"
# alias r="yay -R"
# alias update="yay -Syu"
# alias list="yay -Q"

# INFO: Brew (macos / linux)
alias bi="brew install"
alias bic="brew install --cask"
alias br="brew uninstall"
alias bu="brew update"
alias bs="brew search"
alias bl="brew list"
alias bfu='brew update; brew upgrade --cask --greedy ; brew upgrade $(brew outdated | awk "{ print $1 }") ; brew cleanup'

# INFO: ZSH / BASH
alias szsh="source ~/.zshrc"
alias vzsh="vim ~/.zshrc"
alias vbsh="vim ~/.bashrc"
alias nvzsh="nvim ~/.zshrc"
alias nvbsh="nvim ~/.bashrc"

# INFO: EDIT ALIASES
alias vals="vim ~/.aliases"
alias bals="bat ~/.aliases"
alias cals="code ~/.aliases"
alias nvals="nv ~/.aliases"

# INFO: HYPRLAND
# alias vhypr="vim ~/.config/hypr/hyprland.conf"
# alias chypr="code ~/.config/hypr/hyprland.conf"

# INFO: TERMINAL
alias neo="neofetch"
alias fast="fastfetch"
alias c="clear"
alias rmrf="rm -rf"
alias md="mkdir"
alias t="touch" 

# Eza
alias ls="eza --color=always --icons=always"
alias lsa="eza --color=always --icons=always -a"
alias lsla="eza --color=always --icons=always -la"

# Lsd
# alias ls="lsd"
# alias lsa="lsd -a"
# alias lsla="lsd -la"

# Move
alias ..="cd .."
alias ...="cd ../.."

# INFO: Nvim
alias nv="nvim"
alias nvh="nv ."

# INFO: Mac borders
alias cbor="code ~/.config/borders/bordersrc"
alias rbor="brew services restart borders"

# INFO: Node
alias npmi="npm i"
alias npmig="npm i -g"
alias npmiy="npm init -y"
alias npmisd="npm i --save-dev"
alias npmre="npm remove"
alias npms="npm start"
alias npmrd="npm run dev"
alias npmrp="npm run preview"
alias npmrb="npm run build"
alias npmrde="npm run deploy"
alias npmcv="npm create vite@latest"

# INFO: Git
alias gcmm="git commit -m"
alias lg="lazygit"

# INFO: Bench zsh
alias bench="time zsh -i -c exit"

# INFO: Matrix effect
alias matrix="cmatrix"

# INFO: Copy current dir path
alias cdp="pwd | tr -d '\n' | pbcopy"
